

.main_wrap {
    width: 100%;
    height: 100%;
    transition: background-color 1s ease; 
    position: fixed;
    z-index: 999;

   
}

.menu_contnet_wrap {
    width: 320px;
    height: 100%;
    transition: transform 0.5s ease-out; 
    transform: translateX(-120%) ;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    left: 0px;
}


