@import "../../../styles/colors";

.catalog {
  width: 500px;
  height: 500px;
  opacity: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  .types_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 90%;

    li {
      width: 50%;
      height: 50%;

      display: flex;
      flex-direction: column;
      align-items: center;

      .image_container {
        display: flex;
        align-items: center;
        height: 70%;
        width: 90%;
        cursor: pointer;

        img {
          margin: 0% auto;
          max-width: 100%;
          max-height: 60%;
        }
      }

      button {
        font-size: 1.3rem;
        font-weight: 450;
        color: $links_color;

        &:hover {
          color: $main_color;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .catalog {
    width: 400px;
    height: 400px;
    .types_list {
      li {
        button {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .catalog {
    width: 350px;
    height: 350px;

    .types_list {
      li {
        button {
          font-size: 0.9rem;
        }
      }
    }
  }

  }

  
@media (max-width: 400px) {
  .catalog {
    width: 300px;
    height: 300px;

   
  }

  }

  

