%main-button {
    background-color:  $main-color;
    color: #ffffff;
    transition: background-color 200ms ease-in-out ;
   
    &:hover {
        background-color: $main-color-hover;
    }

}






